html,
body {
    font-family: "IBM Plex Sans", sans-serif;
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.view {
    display: flex;
    flex-direction: column;
}

.interactive {
    border-radius: 0.5rem;
    border: 1px solid #eee;
    outline: none;
    cursor: pointer;
    background-color: #eee;
    transition: background-color 100ms ease;
}

.interactive:hover {
    border-color: #ddd;
    background-color: #ddd;
}

.interactive:active {
    border-color: dodgerblue;
}
